/*@font-face {
  font-family: "Fermion User Theme Emoji";
  src: url("../lib/noto/NotoColorEmoji.ttf");
}*/

/*

  --fermion-fa: iconname      document.body.style.getPropertyValue('--fermion-fa') 
      only that one gets selected.

  --fermion-tabindex: 0-*     window.getComputedStyle(document.body).getPropertyValue('--fermion-scaling')
      computed style gets selected

*/

/*.Toolbar.Button[title="Credentials"] .Icon {
  --fermion-icon: id-card;
}*/

:root {
  --default-grid-left: 1fr;
  --default-grid-right: 0fr;
  --default-grid-text-grow: 0px;

  --fermion-title-text: black;
  --fermion-title-button-hover: gray;
  --fermion-title-close-hover: red;
  --fermion-title-button-text: black;
}

:root, button {
  font-size: calc(16pt * var(--fermion-scaling));
}

button {
  cursor: pointer;
}

html {
  --fermion-scaling: 1;
}

.Titlebar .Label {
  display: none;
}

.Titlebar.Button {
  border: 0;
  background: transparent;
  margin: 0;
  padding: calc(5px * var(--fermion-scaling)) calc(20px * var(--fermion-scaling));
  font-size: calc(16pt * var(--fermion-scaling));
}

.Titlebar.Handle {
  font-family: 'Arial Black';
  font-variant: small-caps;
  padding-left: calc(16pt * var(--fermion-scaling));
  padding-top: calc(2px * var(--fermion-scaling));
}

.Titlebar.Main {
  background:lightgray;
}

.Titlebar.Handle > *:first-child {
  padding-bottom: calc(1px * var(--fermion-scaling));;
}

.Titlebar.Handle::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.Layout.Main {
  padding: 0 8px 8px 8px;
  grid-template-columns: 
    [left] var(--default-grid-left) [chanchat] var(--default-grid-right)
    [stattext] 3.5fr [chatuser] 1fr [right];
  grid-template-rows:
    [top] calc(40px * var(--fermion-scaling)) 
    [toolchat] auto [chattext] var(--default-grid-text-grow)
    [chatstat] calc(100px * var(--fermion-scaling)) [bottom];
}

.Toolbar.Main {
  grid-column-start: left;
  grid-column-end: right;
  grid-row-start: top;
  grid-row-end: toolchat;
}

.Userlist.Main {
  min-width: calc(300px * var(--fermion-scaling));
  grid-column-start: chatuser;
  grid-column-end: right;
  grid-row-start: toolchat;
  grid-row-end: chattext;
}

.Selfsummary.Main {
  grid-column-start: left;
  grid-column-end: stattext;
  grid-row-start: chatstat;
  grid-row-end: bottom;
}

.Textentry.Main {
  grid-column-start: stattext;
  grid-column-end: right;
  grid-row-start: chattext;
  grid-row-end: bottom;
}

.Toolbar.Groups {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Toolbar.Section {
  height:100%;
  display: inline-block;
}

.Toolbar.Section:first-child:before,
.Toolbar.Section:after {
  content:'│';
}

.Toolbar.Button {
  height:100%;
  background: transparent;
  border: 0;
}

.Toolbar.Button:hover {
  background: darkgray
}

.Selfsummary.Main {
  display: flex;
  background: lightgray;
  border-radius: 120px;
  overflow: hidden;
}

.Selfsummary.Avatarwrapper {
  width: calc(100px * var(--fermion-scaling));
  height: calc(100px * var(--fermion-scaling));
  border-radius: calc(50px * var(--fermion-scaling));
  background: darkgray;
  float:left;
  position: relative;
  margin-right: calc(8px * var(--fermion-scaling));
}

.Selfsummary.Statusicon {
  bottom: calc(-2px * var(--fermion-scaling));
  right: calc(-2px * var( --fermion-scaling));
  position: absolute;
  width: calc(24px * var( --fermion-scaling));
  height: calc(24px * var( --fermion-scaling));
  border-radius: calc(100pt * var( --fermion-scaling));
  background: white;
  border: calc(4px * var( --fermion-scaling)) solid lightgray;
  padding: 1px;
}

.Selfsummary.Info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: calc(4px * var(--fermion-scaling));
  flex-grow: 1;
  margin-left: 15px;
}

.Selfsummary.User {
  font-weight: bold;
}

.Selfsummary.Controls {
  width: 80%;
  text-align: center;
}

.Selfsummary.Button {
  height:100%;
  background: transparent;
  border: 0;
}

.Selfsummary.Button:hover {
  background: darkgray;
}

.Selfsummary.Statusicon > span {
  display: block;
  width: 98%;
  text-align: center;
  position: relative;
  top: 1px;
}

.Selfsummary.Avatar {
  width: calc(100px * var(--fermion-scaling));
  height: calc(100px * var(--fermion-scaling));
  display: block;
  border-radius: calc(50px * var( --fermion-scaling));
}

/** CHANNELLIST AREA **/

.Channellist.Main {
  min-width: calc(300px * var(--fermion-scaling));
  grid-column-start: left;
  grid-column-end: chanchat;
  grid-row-start: toolchat;
  grid-row-end: chatstat;
}

.Channellist.Main button.close {
  background: 0;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: calc(32pt * var(--fermion-scaling));
  padding: 0;
  height: calc(32pt * var(--fermion-scaling));
}

.Channellist.Main button.close span {
  line-height: calc(32pt * var(--fermion-scaling));
  text-align: center;
  width: 100%;
  display: block;
  padding: 1px 0 0 1px;
}

.Channellist.Main button.close:hover {
  background: red;
}

.Channellist.Avatar {
  background: gray;
  width: calc(32pt * var(--fermion-scaling));
  height: calc(32pt * var(--fermion-scaling));
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.Channellist.User.Entry {
  padding-left: calc(32pt * var(--fermion-scaling));
}

.Channellist.Main li {
  position: relative;
}

.Channellist.Main li > .Channellist.Button {
  text-align: left;
  display: block;
  width: 100%;
  height: calc(32pt * var(--fermion-scaling));
  position: relative;
  background: 0;
  border: 1px solid black;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Channellist.Main li > .Channellist.Button:hover {
  background: darkgray;
}

.Channellist.Main > ul > li ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: calc(30pt * var(--fermion-scaling));
}

.Channellist.Main > ul > li li::before {
  content: " ";
  position: absolute;
  width: 1px;
  background-color: #000;
  top: 0px;
  bottom: calc(-16pt * var(--fermion-scaling) - 1px);
  left: calc(-16pt * var(--fermion-scaling));
}

.Channellist.Main > ul > li li::after {
  content: " ";
  position: absolute;
  left: -10px;
  width: calc(16pt * var(--fermion-scaling));
  height: 1px;
  background-color: #000;
  top: calc(16pt * var(--fermion-scaling));
  left: calc(-16pt * var(--fermion-scaling));
}

.Channellist.Main > ul > li li:not(:first-child):last-child::before {display: none;}
.Channellist.Main > ul > li li:only-child::before {
  height: calc(16pt * var(--fermion-scaling));
}

.Channellist.Main > ul > li li {
  width:100%;
  display: block;
  position: relative;
}

.Channellist.Main > ul {
  list-style: none;
  margin: calc(4px * var(--fermion-scaling));
  padding-left: 0;
}

/** CHANNEL AREA **/

.Channel.Main {
  grid-column-start: chanchat;
  grid-column-end: chatuser;
  grid-row-start: toolchat;
  grid-row-end: chattext;
}

.Channel.Title {
  font-size: 120%;
  font-weight: bold;
}

.Channel.Body {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Channel.Body .Message.User {
  font-weight: bold;
  cursor: pointer;
  color: red;
}

.Channel.Body > .Message.Main {
  display: block;
  margin: calc(8px * var(--fermion-scaling)) 0;
}

/** Textentry **/

.Textentry.Button {
  padding: 0;
  height: 1.5em;
  width: 2em;
}

.Textentry.Button.Send {
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100px * var(--fermion-scaling));
  height: calc(100px * var(--fermion-scaling));
  line-height: calc(100px * var(--fermion-scaling));
  border: 1px solid black;
  border-left: 0;
  border-radius: 0 5px 5px 0;
}

.Textentry.Button.Send .Icon {
  --fermion-icon: arrow-right;
}

.Textentry.Button.Richtext {
  float: right;
}

.Textentry.Button.Richtext .Icon {
  --fermion-icon: code;
}

.Textentry.Button.Bold .Icon {
  --fermion-icon: bold;
}

.Textentry.Main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Textentry.Editable {
  border: 1px solid black;
  resize: none;
  display: block;
  flex-grow: 1;
  width: calc(100% - 100px * var(--fermion-scaling));
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  padding: 2px 4px;
  line-height: 1.2;
}

.Textentry.Controls {
  width: calc(100% - 120px * var(--fermion-scaling));
}

/** Statusicons **/

.Statusicon.Looking .Icon {
  --fermion-icon: eye;
}

.Statusicon.Online .Icon {
  --fermion-icon: user;
}

.Statusicon.Busy .Icon {
  --fermion-icon: hourglass-half;
}

.Statusicon.Dnd .Icon {
  --fermion-icon: minus-circle;
}

.Statusicon.Away .Icon {
  --fermion-icon: power-off;
}

.Statusicon.Idle .Icon {
  --fermion-icon: clock;
}

.Statusicon.Crown .Icon {
  right: 1px;
  font-size: 95%;
  width: 110%;
  --fermion-icon: crown;
}